[project]
name = "slimbook-screensaver"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "terminaltexteffects>=0.14.2",
]
